.nav-pills .nav-item a {
  background-color: #fff;
  border-radius: 0.15em;
  padding: 0.25em 0.5em;
  height: 2rem;
  top: 1rem;/* margin wont work with table-cell*/
  position: relative;
}
.nav-pills .nav-item .nav-brand {
  background-color: #ddd;
  padding: 0;
  height: 4rem;
  top: 0;
  border-radius: 0;
}
.nav-pills .nav-item a:hover, .nav-pills .nav-item a:focus {
  background-color: #efefef;
  color: #222;
}
